<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fykj.dcoreview">


    <!--指纹权限  NormalPermissions -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>

    <!--SD卡权限-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:name=".base.App"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:debuggable = "true"
        android:theme="@style/AppTheme">
        <activity android:name=".model.MainListActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".model.dialog.DialogListActivity" />
        <activity android:name=".model.popwindow.PopWindowListActivity" />
        <activity android:name=".model.viewpager.ViewPagerListActivity" />
        <activity android:name=".model.popwindow.BasePopTestActivity" />
        <activity android:name=".model.dialog.DialogFrActivity" />
        <activity android:name=".model.dialog.DialogUActivity" />
        <activity android:name=".model.viewpager.tabpager.TabPagerActivity" />
        <activity android:name=".model.viewpager.banPager.BanPagerActivity" />

        <activity android:name=".model.keeplive.KeepServiceActivity" />
        <!--运行在 live进程，与该apk默认进程分离 -->
        <service android:name=".model.keeplive.KeepliveService" android:process=":live"/>
        <service android:name=".model.keeplive.KeepLiveManager$GrayInnerService" android:process=":live"/>
        <!--1像素界面-->
        <activity android:name=".model.keeplive.PixelActivity"
            android:process=":live"
            android:excludeFromRecents="true"
            android:theme="@style/LiveActivityStyle"
            android:exported="false"
            android:finishOnTaskLaunch="false"
            android:launchMode="singleInstance"/>
        <activity android:name=".model.webview.WebListActivity" />
        <activity android:name=".model.webview.AgentWebActivity" />
        <activity android:name=".model.webview.AgentWebJSActivity" />
        <activity android:name=".model.webview.WebViewActivity" />
        <activity android:name=".model.recyclerView.RvListActivity" />
        <activity android:name=".model.recyclerView.magazineRv.MagazineActivity" />
        <activity android:name=".model.TestAndVerify.OrientationActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".model.TestAndVerify.TestAndVerifyActivity" />
        <activity android:name=".model.fingerprint.FingerPrintActivity" />
        <activity android:name=".model.TestAndVerify.AnnotationActivity" />
        <activity android:name=".model.TestAndVerify.ServiceTestActivity" />
        <activity android:name=".model.TestAndVerify.CustomViewActivity" />
        <activity android:name=".model.customview.CustomListActivity" />
        <activity android:name=".model.customview.VerticalStepViewActivity" />
        <activity android:name=".model.TestAndVerify.AnimationActivity" />

        <service android:name=".service.MyService"/>
        <service android:name=".service.MyIntentService" />

    </application>

</manifest>